spring:
  profiles:
    active: dev
---
# Configuração para desenvolvimento (SQLite)
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:sqlite:restaurante.db
    driver-class-name: org.sqlite.JDBC
    username:
    password:
  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: ${JWT_SECRET:uma_chave_super_secreta_para_assinar_tokens_em_ambiente_de_desenvolvimento}

---
# Configuração para produção (PostgreSQL)
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://localhost:5432/restaurante_db
    username: postgres
    password: senha123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true

jwt:
  secret: ${JWT_SECRET:uma_chave_super_secreta_para_assinar_tokens_em_ambiente_de_produção}
